* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid red !important;
}

/* General styles */

  /* Banners */

  /* Buttons */

  /* Links */

  /* Separators */

/* Nav */

/* Article blocks (first section) */

/* Story blocks (second section) */

/* Explore blocks  (third section) */

/* Hero (fourth section) */

/* Video blocks (fifth section) */

/* Careers (sixth section) */

/* Footer */